body  {
box-sizing: border-box;
margin: 0;
padding: 0;

}

.bodyHome {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 250px;
}

.main2 { 
background-color: black;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.films {
border: 1px solid black;
background-color: black;}

.filmsP {
    font-family: 'Single Day';
    font-size: 45px;
    color:aliceblue;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: black;
   
}

.allMovies { 

    
    background-color: black;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allMovies button {
    width: 100px;
    color: aliceblue;
    background-color: #007DF9;
    border-radius: 20px;
    border-color: aliceblue;
}
.allMovies h3 {
    color: white;
    font-family: 'Poppins';
}
.allMovies p{
    border: 1px solid black;
    width: 350px;
    color: aliceblue;
   font-family: 'Poppins';
    
}
.allMovies img { 
    width: 40%;
    height: 40%;
}